
@{
    Layout = "~/Views/Shared/_LayoutPostDetail.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



        <div class="col-sm-1">

        </div>

        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading"><center><b>Movies and TV series review rating system</b></center></div>
                <div class="panel-body">
                    <p align="justify">
                        &emsp; &emsp; &emsp;  ‘MMmovies’ reviewed movies or series on a 5-point scale. Elevating the dialogue about movies by focusing on the content of the written and movies reviews doesn’t have to come at the expense of an expressive score.
                        Scoring within the score is simple. Scores are just a baseline for our opinion, though. All reviews go through a stringent editing process for fairness, transparency and accuracy by the time they finally appear on ‘MMmovies’ and stand as the ‘MMmovies’ review. Basically, ‘MMmovies’ don't want review scores to end the discussion but encourage more of them, and ‘MMmovies’ want audiences to interact with reviewers throughout the entirety of the process in a smart, professional, and passionate way.

                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
    

  
