
@{
    Layout = "~/Views/Shared/_LayoutPostDetail.cshtml";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>

        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading"><center><b>What is MMmovies</b></center></div>
                <div class="panel-body">
                    <p align="justify">
                        &emsp; &emsp; &emsp;‘MMmovies’ movie review website is a review site that reviews all the movies in the movie industries that include local and foreign movies. There is a rating score that provides a representation of how much positive or negative reviews are for movies in general. The purpose of ‘MMmoives’ movie review website is to inform audiences whether or not it is recommended to watch a certain movie or not. ‘MMmovies’ movie review web site is to analyze the film in terms of the movie’s message and cultural representations and also analyze the movie in terms of its artistic value and technical skill. This includes acting, direction, cinematography, writing, dialogues and other aspects.
                    </p>
                    <p align="justify">
                        &emsp; &emsp; &emsp; From democratizing movie criticism and delivering it to more general audiences, ‘MMmovies’ constantly pushing the limits, publishing review to Compuserve at the dawn of the Internet. Developing a movie review article that meets  standards is too important for ‘MMmovies’. We will do our best to keep developing good quality movie review articles.
                    </p>
                    <p align="justify">
                        &emsp; &emsp; &emsp;‘MMmovies’ review articles are the most trusted recommended resources for quality entertainment. As a leading online aggregator of critic review of movies and TV shows, it provides audiences with a comprehensive guide to freshness movie reviews. If you are an entertainment fan looking for recommendations or sharing opinions, ‘MMmovies’ is the right place to visit and read movie review articles.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">

        </div>

        <div class="col-sm-10">
            <div class="panel panel-primary">
                <div class="panel-heading"><center><b>The explaination of what I did, what insights I gained from doing C#.net MVC development and what potential I see for this combination</b></center></div>
                <div class="panel-body">
                    <p align="justify">
                        &emsp; &emsp; &emsp; In this development of ‘MMmovies’ movie review web app, it is developed with ‘C# .net’ MVC. Before developing the backend of the web app, frontend which is web design of this web app is developed. Then, schema design for the web app is developed which included database, database tables and columns. After finished development of frontend and schema diagram of ‘MMmovies’ movie review web app, backend of this web app is developed.
                    </p>

                    <p align="justify">
                        &emsp; &emsp; &emsp; By developing this web app, I gained knowledge of C#.net MVC development which includes both frontend and backend. I also gained knowledge of storing and retrieving data on the server with .NET and calling API from YouTube.
                    </p>

                    <p align="justify">
                        &emsp; &emsp; &emsp; The potential I see for this combination is that I should leverage the knowledge of C#.net MVC web development, gain some experience and then progress to build a career for my future.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-1">

        </div>
    </div>
</div>











